<div class="ki-main" ng-init="vm.login()">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper orange lighten-1">
				<a class="brand-logo left valign-wrapper cl-logo"><h5>Drone cafe</h5></a>
			</div>
		</nav>  
	</div>


	<div class="row">
		<div class="col s12 l10 offset-l1">
			<div class="row cl-all-list">
				<div class="col s12 l6">
					<div class="cl-order-list z-depth-1 white">
						<h5 class="grey-text text-darken-2">Oredered</h5>

						<div class="ki-dishes-item" ng-repeat="singleOrder in vm.orders | filter: status = 'Ordered'">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-2"><li>{{singleOrder.title}}</li></a></div>
							<div class="right ki-dishes-btn">
								<a class="waves-effect ki-btn orange-text text-accent-4" ng-click="vm.cooking(singleOrder._id);">start</a>
							</div>
						</div>

					</div>
				</div>

				<div class="col s12 l6">
					<div class="cl-order-list z-depth-1 white">
						<h5 class="grey-text text-darken-2">Cooking</h5>
						
						<div class="ki-dishes-item" ng-repeat="singleOrder in vm.orders | filter: status = 'Cooking'">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-2"><li>{{singleOrder.title}}</li></a></div>
							<div class="right ki-dishes-btn">
								<a class="waves-effect ki-btn green-text" ng-click="vm.ready(singleOrder._id)">ready</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>