<!-- <div class="row">
	<div class="panel panel-default col s12 center" style="margin-top: 100px;">
		<div class="panel-body">

			<div class="btn-group " role="group">
				<a class="btn btn-default" href="#!/">ago in user interface</a>
			</div>

		</div>
	</div>
	<blockquote class="col s3 left">
		It's interface for cookes.
	</blockquote>
</div> -->

<div class="ki-main">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper orange lighten-1">
				<a class="brand-logo left valign-wrapper cl-logo"><h5>Drone cafe</h5></a>
			</div>
		</nav>  
	</div>


	<div class="row">
		<div class="col s12 l10 offset-l1">
			<div class="row cl-all-list">
				<div class="col s12 l6">
					<div class="cl-order-list z-depth-1 white">
						<h5 class="grey-text text-darken-2">Oredered</h5>

						<div class="ki-dishes-item">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-2"><li>Cranberry Zingers</li></a></div>
							<div class="right ki-dishes-btn"><a class="waves-effect ki-btn orange-text text-accent-4">start</a></div>
						</div>

						<div class="ki-dishes-item">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-2"><li>Cranberry Zingers</li></a></div>
							<div class="right ki-dishes-btn"><a class="waves-effect ki-btn orange-text text-accent-4">start</a></div>
						</div>

					</div>
				</div>

				<div class="col s12 l6">
					<div class="cl-order-list z-depth-1 white">
						<h5 class="grey-text text-darken-2">Cooking</h5>
						
						<div class="ki-dishes-item">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-2"><li>Cranberry Zingers</li></a></div>
							<div class="right ki-dishes-btn"><a class="waves-effect ki-btn green-text">ready</a></div>
						</div>

						<div class="ki-dishes-item">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-2"><li>Cranberry Zingers</li></a></div>
							<div class="right ki-dishes-btn"><a class="waves-effect ki-btn green-text">ready</a></div>
						</div>
						
						<div class="ki-dishes-item">
							<div class="left ki-dishes-name"><a class="grey-text truncate text-darken-3"><li>Cranberry Zingers</li></a></div>
							<div class="right ki-dishes-btn"><a class="waves-effect ki-btn green-text">ready</a></div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>